<div class="welcome-container">
  <p>Welcome to</p>
  <h1>Jurassic Parks</h1>
  <div class="logo"> <%= image_tag "t-rex.svg" %> </div>
</div>

<div class="circles-container">
  <%= link_to new_park_path do %>
    <div class="icon">
      <%= image_tag "footprint.svg" %>
    </div>
  <% end %>

   <%= link_to new_park_path do %>
    <div class="icon">
      <%= image_tag "dinosaur.svg" %>
    </div>
  <% end %>

</div>

<div class="parks-container">

</div>
