<div class="welcome-container">
  <p>Welcome to</p>
  <h1>Jurassic Parks</h1>
  <div class="logo"> <%= image_tag "t-rex.svg" %> </div>
</div>

<div class="circles-container">
  <h2 id="how" class="text-center">How does it work?</h2>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= link_to new_park_path do %>
        <div class="icon">
          <%= image_tag "footprint.svg" %>
        </div>
      <% end %>
      <p class="text-center fs-24">Create your park</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= link_to new_park_path do %>
        <div class="icon">
          <%= image_tag "dinosaur.svg" %>
        </div>
      <% end %>
      <p class="text-center fs-24">Add your dinosaurs</p>
    </div>
</div>
</div>


<div class="parks-container">
  <h2 class="text-center">Our parks</h2>
</div>
